.outer-searchbar-box {
  padding: 10px;
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #fff;
  height: min(40px, 80vw);
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
}
.searchbar {
  margin-left: 5px;
  font-size: large;
  border: none;
  outline: none;
  width: min(200px, 50vw);
  background-color: transparent;
}
.filter-button {
  font-size: medium;
  padding: 4px;
}
.selected {
  background-color: rgba(11, 156, 49, 0.9);
}
.menu-button {
  font-weight: 200;
  padding: 10px;
  width: 45%;
  height: 70px;
  display: block;
  padding: 4px;
  border-radius: 10px;
  margin: 0 auto;
  border: 0.5px solid #fff;
}
.filter-menu > p {
  margin: 5px auto;
  font-size: medium;
  font-weight: 100;
  font-style: italic;
}

.buttonContainer{
  display: flex;
  column-gap: 1rem;
}

.branch{
  flex-wrap: wrap;
  row-gap: 1rem;
}
